@model ProjectLeader.Models.EmployeeHelperModels.EmployeeHelperModels

<div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="modal-header">
            <h2 class="modal-title">Create new employee</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">

            <form id="create_form">

                <div class="form-group">
                    <label asp-for="FirstName" class="col-md-5 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="FirstName" class="form-control">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="LastName" class="col-md-5 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="LastName" class="form-control">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="col-md-5 control-label">Email*</label>
                    <div class="col-md-12">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="DateOfBirth" class="col-md-5 control-label">DateOfBirth*</label>
                    <div class="col-md-12">
                        <input asp-for="DateOfBirth" type="date" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-5 control-label">Gender*</label>
                    <div class="col-md-12">
                        <select class="form-control text-secondary" asp-for="GenderId" asp-items="@(new SelectList(Model.GenderList, "Value", "Text"))"></select>
                        <span asp-validation-for="GenderId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="City" class="col-md-5 control-label">City*</label>
                    <div class="col-md-12">
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="State" class="col-md-5 control-label">State*</label>
                    <div class="col-md-12">
                        <input asp-for="State" class="form-control" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" id="submit" class="btn btn-primary">Add new employee</button>
                </div>

            </form>

        </div>

    </div>
</div>
