@model ProjectLeader.Models.EmployeeHelperModels.EmployeeHelperModels


<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <h2 class="modal-title">Edit employees</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">

            <form id="edit_employees_form">
                <h4>You are just one step away.</h4>
                <input hidden asp-for="Id" />
                <div class="form-group">
                    <label asp-for="FirstName" class="col-md-5 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="FirstName" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="LastName" class="col-md-5 control-label"></label>
                    <div class="col-md-12">
                        <input asp-for="LastName" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="col-md-5 control-label">Email*</label>
                    <div class="col-md-12">
                        <input asp-for="Email" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="DateOfBirth" class="col-md-5 control-label">DateOfBirth*</label>
                    <div class="col-md-12">
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="GenderId" class="col-md-2 control-label"></label>
                    <div class="col-md-12">
                        <select class="form-control text-secondary" asp-for="GenderId" asp-items="@(new SelectList(Model.GenderList, "Value", "Text"))"> <option value=""></option>
                        </select>
                        <span asp-validation-for="GenderId" class="text-danger"></span>
                    </div>
                </div>
     
                <div class="form-group">
                    <label asp-for="City" class="col-md-5 control-label">City*</label>
                    <div class="col-md-12">
                        <input asp-for="City" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="State" class="col-md-5 control-label">State*</label>
                    <div class="col-md-12">
                        <input asp-for="State" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-5">
                        <button type="submit" id="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>